<p class="big" style="font-weight:200;">
  Learn more about our members and discover the IoT solutions they&nbsp;offer&nbsp;today.
</p>

<div class="eclipsefdn-members-list" data-ml-wg="osgi" data-ml-template="logo-with-levels">
  <h2 class="margin-bottom-30 margin-top-30">Strategic members</h2>
  <div id="sc-members" class="row members-by-level" data-ml-wg-level="WGSD">
    <div class="text-center">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-20"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <h2 class="margin-bottom-30 margin-top-30">Participating members</h2>
  <div id="participating-members" class="row members-by-level" data-ml-wg-level="WGAPS">
    <div class="text-center">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-20"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <h2 class="margin-bottom-30 margin-top-30">Guest members</h2>
  <div id="guest-members" class="row members-by-level" data-ml-wg-level="WGSAP">
    <div class="text-center">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-20"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>